// This file is the input config save. It is applied on top of the default values, so
// to reset to defaults simply delete the file. There are two main sections,
// The `settings` part, containing key-value pairs for the settings you can adjust,
// and the mappings groups, which map to the in-game menues for the input groups & bindings.
// The available settings values are (and defaults):
// {
//    Number of frames over which to smooth mouse input (zero means no smoothing). Note that this applies to the _movement_, not the position!
//    mouse_smoothing_frames = 3
//
//    If set (per axis) the look axis is inverted _when aiming down sights_ for gamepads.
//    gamepad_scope_inverted_x = false
//    gamepad_scope_inverted_y = false
//    
//    If set (per axis) the look axis is inverted _when aiming down sights_ for mice.
//    mouse_scope_inverted_x = false
//    mouse_scope_inverted_y = false
//    
//    If set (per axis) the look axis is inverted for gamepads
//    gamepad_inverted_x = false
//    gamepad_inverted_y = false
//    
//    If set (per axis) the look axis is inverted for mice
//    mouse_inverted_x = false
//    mouse_inverted_y = false
//    
//    Gamepad look sensitivity in first component, vertical multiplier in second.
//    Range is any valid real value.
//    gamepad_sensitivity = [5 0.6]
//    
//    Mouse look sensitivity, range is any valid real value.
//    mouse_sensitivity = [0.072 0.072]
//    
//    If zero or exactly one, no acceleration is applied.
//    Otherwise, mouse movement is scaled by the following formula:
//    movement = movement_after_sensitivity ^ acceleration
//    Settings menu shows this value offset by 1, so the settings range of [0, 3] maps to [1, 4],
//    essentially cutting off the deceleration part of the curve.
//    mouse_acceleration = 1.0
//    
//    The first value is the speed at which we accelerate. Zero means we do not apply acceleration at all.
//    The second value is the exponent applied to the acceleration rate.
//    gamepad_acceleration = [0.7 3.0]
//    
//    Multiplier of sensitivity while aiming
//    gamepad_aim_sensitivity = 0.5
//    
//    Multiplier of sensitivity while aiming down sights
//    gamepad_scope_sensitivity = 0.5
//    
//    Sensitivity of PlayStation controller touchpad when using this to move the map cursor ([0,1] range)
//    touchpad_map_sensitivity = 0.5
//    
//    Multiplier of sensitivity while aiming
//    mouse_aim_sensitivity = 1.0
//    
//    Multiplier of sensitivity while aiming down sights
//    mouse_scope_sensitivity = 1.0
//    
//    Multiplier of sensitivity while scrolling map
//    mouse_map_sensitivity = 1.0
//    
//    Size of gamepad deadzone (lower bound, absolute value, [0,1] range).
//    deadzone = 0.1
//	   
 //    Disables the Steam input in-game warning when connecting a DualSense or DualShock controller while Steam input is ON.
//    dont_warn_about_steam_input = false
//    
//    Veteran mode toggle + scale (percentage of max observed input, [0,1] range).
//    veteran_mode = false
//    veteran_mode_scale = 0.8
//    
//    How much stickyness should there be to aiming with controllers when looking at enemies
//    controller_sticky_aim = 0.5
//    
//    How strong the Dualsense adaptive triggers should be. [0,1] range, where 0 is disabling all trigger feedback.
//    trigger_effect_strength = 1.0
//    
//    How strong the Dualsense haptics or conroller rumble should be. [0,1] range, where 0 is disabling all feedback.
//    haptics_rumble_strength = 1.0
// }
// 
// When it comes to keybindings, we group each action in a category. If an action is in this file,
// all default bindings are replaced with the values here. This means if you wish to change only
// the keyboard mapping you will have to also keep the gamepad mappings here or they would be unbound.
// This is necessary so it's possible to completely unbind inputs for a device type, which is a valid use case.
//
// Each action can me mapped to many inputs/input combinations. Each mapping has a number of fields;
//    Mandatory fields:
//       device_type:
//          PadDS - Dualsense & Dualshock 4
//          PadXBOX - Xbox style conrollers (xinput)
//          Keyboard
//          Mouse
//          Tablet
//          TouchPanel
//          SimulatedTouchPanel
//          SynergyKeyboard
//          SynergyMouse
//       input_type:
//          Button
//          Axis
//       trigger (for buttons):
//          Pressed - Triggeres once on press, not again until after it has been released
//          Released - Triggers on release
//          Hold     - Continuously triggers while pressed
//          LongPress - Triggers once after having been pressed for a specified duration, then not again until released
//          Tapped - Triggers if pressed and released within a specified interval
//          RepeatInterval - Triggeres every [specified interval] seconds while pressed.
//       trigger (for axes):
//          Any - The maximmum value for any axis is used
//          X - Any value on the first axis
//          Y - Any value on the seconc axis
//          Z - Any value on the third axis
//          X+ - Any positive on the first axis
//          Y+ - Any positive on the seconc axis
//          Z+ - Any positive on the third axis
//          X- - Any negative on the first axis
//          Y- - Any negative on the seconc axis
//          Z- - Any negative on the third axis
//    Optional fields:
//       threshold [default=0] (context sensitive):
//          For axis triggers and button triggers "Pressed", "Released", and "Hold" this specifies the analog value threshold for the action to be triggered.
//             These thresholds are _after_ deadzone normalization, so 0 == deadzone.
//          For button triggers "LongPress" and "Tapped" this specifies the duration for which to hold or during which to press and release, respectively.
//          For button trigger "RepeatInterval" this specifies the interval at which we repeat the trigger while the button is held.
//       combine [default=None]:
//          None - The input is considered "standalone"
//          Overlap - This input, _and the next_ must be triggerd at the samme time for the action to be triggered. Values are the maximum magnitude between them.
//          Chain - For the action to be triggerd, this input must be triggerd followed immediatly by the next (and no other) for it to trigger.
//
// To see examples of how to change something, alter the value in the in-game menues and then look at this file again.


settings = {
	mouse_acceleration = 0
	mouse_sensitivity = [
		0.049999997019767761
		0.049999997019767761
	]
}
Avatar = {
	Prone = [
		{
			trigger = "LongPress"
			device_type = "PadDS"
			input = "Circle"
			threshold = 0.20000000298023224
			input_type = "Button"
		}
		{
			trigger = "LongPress"
			device_type = "PadXBOX"
			input = "XboxB"
			threshold = 0.20000000298023224
			input_type = "Button"
		}
		{
			trigger = "Press"
			device_type = "Mouse"
			input = "MouseButton4"
			threshold = 0.20000000298023224
			input_type = "Button"
		}
	]
	Crouch = [
		{
			trigger = "Tap"
			device_type = "PadDS"
			input = "Circle"
			threshold = 0.20000000298023224
			input_type = "Button"
		}
		{
			trigger = "Tap"
			device_type = "PadXBOX"
			input = "XboxB"
			threshold = 0.20000000298023224
			input_type = "Button"
		}
		{
			trigger = "Press"
			device_type = "Mouse"
			input = "MouseButton5"
			threshold = 0.20000000298023224
			input_type = "Button"
		}
	]
}
